body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: #26052f;
    color: rgb(218, 210, 210);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    text-align: center;
  }
  
  video, canvas {
    width: 500px;
    height: 375px;
    border: 5px solid #38bdf8;
    border-radius: 10px;
    margin-top: 10px;
  }
  
  .controls, .filters {
    margin-top: 15px;
  }
  
  
  button {
    margin: 5px;
    padding: 10px 20px;
    background-color: #38bdf8;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0ea5e9;
  }
  
  select {
    padding: 6px;
    border-radius: 6px;
    font-size: 14px;
  }
  